@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="jumbotron">
    <h1>Salta University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Salta University</h2>
        <p>
            The University of Salta is defined as an Argentine 
            institution of university higher education, of private 
            regime, nonprofit, with the highest degree of autonomy 
            granted by the current legislation in the Argentine 
            university system.
        </p>
    </div>
    </div>
   </body>